/.vs
/.vscode
/Library
/Logs
/obj
/Packages
/ProjectSettings
/Assembly-CSharp.csproj
/SHQZDemo.sln
/Unity.CollabProxy.Editor.csproj
/Unity.InputSystem.csproj
/Unity.ProBuilder.AddOns.Editor.csproj
/Unity.ProBuilder.AssetIdRemapUtility.csproj
/Unity.ProBuilder.csproj
/Unity.ProBuilder.Editor.csproj
/Unity.ProBuilder.KdTree.csproj
/Unity.ProBuilder.Poly2Tri.csproj
/Unity.ProBuilder.Stl.csproj
/Unity.Rider.Editor.csproj
/Unity.Settings.Editor.csproj
/Unity.TextMeshPro.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.Timeline.csproj
/Unity.Timeline.Editor.csproj
/Unity.VSCode.Editor.csproj
/UnityEditor.TestRunner.csproj
/UnityEditor.UI.csproj
/UnityEngine.TestRunner.csproj
/UnityEngine.UI.csproj
/Assets/PolygonFantasyCharacters
/Assets/PolygonFantasyHeroCharacters
/Assets/PolygonFantasyRivals
/Assets/Dynamic Sword Animset.meta
/Assets/PolygonDungeon.meta
/Assets/PolygonDungeonMap.meta
/Assets/PolygonFantasyCharacters.meta
/Assets/PolygonFantasyHeroCharacters.meta
/Assets/PolygonFantasyRivals.meta
/Assets/Dynamic Sword Animset
/Assets/PolygonDungeon
/Assets/PolygonDungeonMap
/Assets/Art/Dynamic Sword Animset
/Assets/Art/PolygonDungeon
/Assets/Art/PolygonDungeonMap
/Assets/Art/PolygonFantasyCharacters
/Assets/Art/PolygonFantasyHeroCharacters
/Assets/Art/PolygonFantasyRivals
/Assets/Art/Animations.meta
/Assets/Art/Dynamic Sword Animset.meta
/Assets/Art/PolygonDungeon.meta
/Assets/Art/PolygonDungeonMap.meta
/Assets/Art/PolygonFantasyCharacters.meta
/Assets/Art/PolygonFantasyHeroCharacters.meta
/Assets/Art/PolygonFantasyRivals.meta
/Assets/Animator.meta
/Assets/Art.meta
/Assets/KeepBool.cs.meta
/Assets/ProBuilder Data.meta
/Assets/Resources.meta
/Assets/ProBuilder Data
/Assets/Resources
/Assets/Scenes.meta
/Assets/Scripts.meta
/Assets/Materials.meta
/Assets/Prefabs.meta
/Assets/Animator/LeftHand.mask.meta
/Assets/Animator/RightHand.mask.meta
/Assets/Animator/UpperBody.mask.meta
/Assets/Animator/BothHands.mask.meta
/Assets/Animator/Humanoid.controller.meta
/Assets/Scripts/UI.meta
/Assets/Scripts/Utilities.meta
/Assets/Scenes
/Assets/Prefabs
/Assets/Scripts/Managers/*.meta
/Assets/Scripts/Items/*.meta
/Assets/Scripts/Controller/*.meta
/Assets/Scripts/*.meta
/Assets/Scripts/Projectile/*.meta
/Assets/Scripts/Inventory/*.meta
/Assets/Scripts/Utilities/*.meta
/Assets/Scripts/Utilities/WeaponPlacer/*.meta
/Assets/Scripts/Utilities/XML Maker/*.meta
/Assets/Scripts/Stats/*.meta
/Assets/Scripts/UI/*.meta
/Assets/Scripts/Enemies/*.meta
